/* RGB title */
span:nth-child(1){
  color: #ff0000;
}
span:nth-child(2){
  color: #00ff00;
}
span:nth-child(3){
  color: #0000ff;
}

/* labels */
label{
  padding: 10px;
  width: 100px;
  text-align: center;
  color: #ffffff;
  margin: 4px;
  border-radius: 6px;
  box-shadow: inset 0 0 2px #333333;
}

input[type=number], label{
  display: inline-block;
}

/* number input */
.sliders input[type=number]{
  text-align: center;
  width: 50px;
  padding: 10px 0 10px 10px;
  background: #ffffff;
  margin: 0 10px 0 4px;
  outline: none;
  border: 2px solid transparent;
  border-radius: 6px;
  transition: border 0.2s ease;
  box-shadow: 0 0 2px #333333;
}

.sliders input[type=number]:focus{
  border: 2px solid #508cfc;
}

/* range sliders */
.sliders input[type=range]{
  height: 8px;
  border-radius: 10px;
  outline: none;
  width: 50%;
  box-shadow: 0 0 2px #444444, inset 0 0 2px #444444;
}

.sliders input[type=range], input[type=range]::-webkit-slider-thumb{
  appearance: none;
  -webkit-appearance: none;
}

/* slider thumb */
.sliders input[type=range]::-webkit-slider-thumb{
  height: 20px;
  width: 24px;
  border-radius: 20%;
  cursor: pointer;
  background: #cccccc;
  border: 2px solid #eeeeee;
  box-shadow: 0 0 4px #444444, inset 0 0 2px #444444;
}
