body {
  background: #F18F01;
}
h1 {
  font-smooth: never;
  -webkit-font-smoothing : none;
}
input:hover {
  cursor: pointer;
}
select:hover {
  cursor: pointer;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 10px black;
}
#game-color {
  display: inline-block;
}
#color-display {
  display: inline-block;
}
