body {
  text-align: center;
}

#nav a {
  margin: 0px 5px;
}

#rounds {
  width: 50px;
}

#timer {
  font-family: "Orbitron", serif;
  font-size: 32px;
}

.color-label {
  min-width: 200px;
  display: inline-block;
  margin: 10px 25px;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 10px black;
  display: inline-block;
  margin: 10px 15px;
}

#localScores {
	text-align: center;
}

.leaderboard {
	margin: 0 auto;
}

.leaderboard tr {
	height: 30px;
}

.col1 {
	width: 15%;
}

.col2 {
	width: 10%;
}

.col3 {
	width: 10%;
}

.col4 {
	width: 10%;
}

.col5 {
	width: 15%;
}

/* labels */
.sliderLabel {
  padding: 10px;
  width: 100px;
  text-align: center;
  color: #ffffff;
  margin: 4px;
  border-radius: 6px;
  box-shadow: inset 0 0 2px #333333;
}

input[type=number], label{
  display: inline-block;
}

.sliders {
  text-align: center;
  margin-bottom: 10px;
}

/* number input */
.sliders input[type=number]{
  text-align: center;
  width: 50px;
  padding: 10px 0 10px 10px;
  background: #ffffff;
  margin: 0 10px 0 4px;
  outline: none;
  border: 2px solid transparent;
  border-radius: 6px;
  transition: border 0.2s ease;
  box-shadow: 0 0 2px #333333;
}

.sliders input[type=number]:focus{
  border: 2px solid #508cfc;
}

/* range sliders */
.sliders input[type=range]{
  height: 8px;
  border-radius: 10px;
  outline: none;
  width: 30%;
  box-shadow: 0 0 2px #444444, inset 0 0 2px #444444;
}

.sliders input[type=range], input[type=range]::-webkit-slider-thumb{
  appearance: none;
  -webkit-appearance: none;
}

/* slider thumb */
.sliders input[type=range]::-webkit-slider-thumb{
  height: 20px;
  width: 24px;
  border-radius: 20%;
  cursor: pointer;
  background: #cccccc;
  border: 2px solid #eeeeee;
  box-shadow: 0 0 4px #444444, inset 0 0 2px #444444;
}
